<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Prueba de Ejecuacion con Flask</title>
</head>

<body>

    <div id="content-flex">
        <h1>Metodos de Busqueda</h1>
        <div id="content-grid">
            <div id="botones">
                <button onclick="obtenerResultadoPuzzleLineal()">Puzzle Lineal</button>
                <button onclick="obtenerResultadoVuelos()">Vuelos</button>
                <button onclick="obtenerResultadoDFS()">DFS</button>
                <button onclick="obtenerResultadoDFSRecursivo()">DFS Recursivo</button>
                <button onclick="obtenerResultadoDFSIterativo()">DFS Iterativo</button>
                <button onclick="obtenerResultadoDijkstra()">Dijkstra</button>
                <button onclick="obtenerResultadoHillClimbing()">Hill Climbing</button>
                <button onclick="obtenerResultadoHillClimbingIterativo()">Hill Climbing Iterativo</button>
                <button onclick="obtenerResultadoTempladoSimulado()">Templado Simulado</button>
            </div>
        </div>
        <div id="impresion">
            <p id="resultado"></p>
        </div>
    </div>

    <script src="./static/functions.js"></script>
</body>

</html>