*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #BBDEFB;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0D47A1;
}

#content-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

#content-grid{
    padding: 2em;
    align-items: center;
    justify-content: center;
}

#impresion{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 500px;
    border-radius: 4px;
    border: 3px solid #2196F3;
}

#botones{
    padding: 2em;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #42A5F5;
    border-color: #42A5F5;
    margin: 1em;
    color: #0D47A1;
}